.games-link{
    width: calc(20% - 4px);
    display: inline-block;
    text-decoration: none;
    color: black;
}

.games-link p{
	width: 75%;
	margin: auto;
	margin-bottom: 20px;
}

.games-link h2{
	margin-bottom: 20px;
}

img{
	width: 75%;
}

#games-list{
	margin-left: 50px;
	margin-right: 50px;
}