#board-box{
	display: inline-block;
	min-width: calc(100vw - 366px);
}

#view-board{
	height: calc(100vh - 83px);
	width: calc(100vh - 83px);
	border: none;
	margin: auto;
}

#view-moves tfoot td{
	/*border: 2px solid black;*/
	position: absolute;
	bottom: 0;
	height: 25px;
	width: calc(100vw - 16px - (100vh - 83px));
	max-width: 350px;
	box-sizing: border-box;
}

#view-moves{
	width: calc(100vw - 16px - (100vh - 83px));
	max-width: 350px;
	height: calc(100vh - 83px);
	float: left;
	border: 2px solid black;
	border-bottom: none;
	border-collapse: collapse;
}

#view-moves td{
	border-bottom: 2px solid black;
}

#moves-box{
	display: inline-block;
	height: calc(100vh - 83px);
	overflow: scroll;
	float: left;
}

#view-board td{
	height: 11.875%;
	width: 11.875%;
}

#view-board td.label-cell{
	border: none;
	width: 5%;
	width: 5%;
	text-align: center;
}

tr.selected-move{
	color: white;
	/*background: black;*/
}

.right-border{
	border-right: 1px solid black;
}

.left-padding{
	padding-left: 5px;
}

.gold-move{
	background: gold;
}

.silver-move{
	background: silver;
}