#board-box{
	display: inline-block;
	min-width: calc(100vw - 366px);
}

#view-board{
	height: calc(100vh - 83px);
	width: calc(100vh - 83px);
	border: none;
	margin: auto;
}

#view-moves tfoot{
	border: 2px solid #777676;
	position: absolute;
	bottom: 0;
	height: 25px;
	width: calc(100vw - 16px - (100vh - 83px));
	max-width: 350px;
	box-sizing: border-box;
}
/*#view-moves tbody{
	height: calc(100vh - 108px);
}*/

#view-moves{
	width: calc(100vw - 16px - (100vh - 83px));
	max-width: 350px;
	height: calc(100vh - 83px);
	float: left;
	border: 2px solid #777676;
	border-bottom: none;
	border-collapse: collapse;
}

#moves-box{
	display: inline-block;
	height: calc(100vh - 83px);
	overflow: scroll;
	float: left;
}

#view-board td{
	height: 11.875%;
	width: 11.875%;
}

#view-board td.label-cell{
	border: none;
	width: 5%;
	width: 5%;
	text-align: center;
}

.selected-move{
	color: white;
	background: black;
}

/*#view-board td.top-border{
	border-top: 10px solid black;
}

#view-board td.right-border{
	border-right: 10px solid black;
}*/